.main {
  background-color: #fff;

  &__content {
    display: grid;
    row-gap: 70px;
    padding-top: 100px;

    @include on-tablet {
      row-gap: 88px;
      padding-top: 88px;
    }

    @include on-desktop {
      row-gap: 200px;
      padding-top: 200px;
    }
  }
}
