.section-title {
  margin-bottom: 40px;

  @include on-tablet {
    margin-bottom: 48px;
  }

  @include on-desktop {
    margin-bottom: 56px;
  }

  &__text {
    margin: 0;
    font-size: 36px;
    line-height: 100%;
    font-weight: 700;
    color: #0F0E08;
    text-align: center;

    @include on-tablet {
      text-align: left;
    }
  }
}
