@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

.container {
  padding-inline: 20px;
  overflow: visible;

  @include on-tablet {
    padding-inline: 34px;
  }

  @include on-desktop {
    max-width: 1170px;
    margin-inline: auto;
    padding-inline: 55px;
  }
}

@mixin hover {
  &:hover {
    @content;
  }
}

@mixin hover-transform($scale: 1.2) {
  transition: transform $effect-duration;

  @include hover {
    transform: scale($scale);
  }
}
