.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: cover;

  @include hover-transform;

  &--menu {
    background-image: url(../images/menu.svg);
  }

  &--close {
    background-image: url(../images/close.svg);
  }
}

