.nav {
  font-family: 'IBM Plex Sans', sans-serif;

  &__item {
    width: 100px;

    @include on-desktop {
      width: 169px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 24px 28px;
    list-style: none;
    padding: 0;
    margin: 0;

    @include on-tablet {
      gap: 24px 20px;
      box-sizing: border-box;
    }

    @include on-tablet {
      gap: 30px 31px;
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    line-height: 100%;

    &:hover {
      text-decoration: underline;
    }

    @include on-desktop {
      font-size: 22px;
    }
  }
}
